- title "Filmer"
.jumbotron.flexbox.flex-center
  .welcome
    %h1.tagline= t('landing.tagline')
    %h3= t('landing.slogan')
    .container{ :style => "margin-top: 25px;"}
      =link_to t('landing.get-started'), new_user_session_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
%section.mdl-grid.section--center.mdl-grid--no-spacing
  %header.mdl-cell.mdl-cell--3-col-desktop.mdl-card__media.flex-center.flexbox.mdl-cell--2-col-tablet.mdl-cell--hide-phone
    =image_tag 'rails-logo.png', :class => 'img-responsive'
  .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
    .mdl-card__supporting-text.mdl-card__margin
      %h4 Filmer
      %p
        #{t('landing.intro-text')}
        %a{:href => 'https://github.com/dukeimg/filmer'}
          =icon('github')
          GitHub
    .mdl-card__actions.mdl-card--border.mdl--card__padding-x
      =link_to t('landing.learn-more'), about_path, :class => 'mdl-button mdl-js-button mdl-button--primary'