.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.mdl-card
  .photo__preview
    = image_tag @photo.image(:thumb), class: 'photo__preview'
  //= form_for @photo, :url => {:action => "new"}, :method => "post" do |p|
  .mdl-card__title
    .mdl-card__title-text= @photo.title
  .mdl-card__supporting-text= @photo.description
  .mdl-layout-spacer
  .mdl-card__actions.mdl-card--border
    =link_to t('edit'), edit_photo_path(@photo), :class => 'mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'
    =link_to t('delete'), photo_path(@photo), :method => 'delete', :class => 'block-right mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect'