- title(t('error'))
.mdl-grid.flex-center
  .mdl-cell.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      .mdl-card__title-text= t('warning')
    .flexbox.flex-center
      %i.material-icons.permissions-alert warning
    .mdl-card__supporting-text= t('pictures.permissions__error-text')