.mdl-grid
  .mdl-cell.mdl-cell--12-col#upload
    .mdl-color--white.mdl-shadow--2dp
      =form_for @photo, :multipart => true do |f|
        .mdl-card__supporting-text
          %p=t('pictures.upload-message')
        .mdl-card__actions.mdl-card--border
          .flexbox.flex-center
            .mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent{:onclick => 'picturesUpload()'}= t('pictures.choose-files')
            = f.file_field :image, :style => 'visibility: hidden; position: absolute', multiple: true, name: 'photo[image]', id: 'photo_image'

