.comments {
  background-color: #EEE;
}

.comment {
  font-size: 14px;
  line-height: 25px;
}

.comment__textarea {
  flex-grow: 1;

  >textarea {
    resize: none;
  }
}

.comment__author-name {
  margin-left: 10px;
}

.comment__author-avatar {
  float: left;
}

.comment__body {
  margin: 10px 0 0 10px;
}

.comment__upvotes {
  margin-left: 60px;
}