.comments {
  background-color: #EEE;
}

.comment__textarea {
  flex-grow: 1;

  >textarea {
    resize: none;
  }
}

.comment__author-name {
  margin-left: 10px;
}

.comment__body {
  margin-top: 10px;
}

.comment__upvotes {
  font-size: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  .comment__upvotes--value {
    margin-top: 15px;
  }
}