// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#loading {
  height: 100vh;
  width: 100vw;
  position: absolute;

  &.loading-colors {
    box-shadow: 2px 0 50px 0 #777777;
  }

  &.color-1 {
    background-color: #f04155;
  }
  &.color-2 {
    background-color: #39b8f7;
  }
  &.color-3 {
    background-color: #6932d9;
  }

  .container-fluid {
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;

    h1 {
      font-size: 5vw;
      font-family: 'Classica Two';
    }

    h2 {
      padding-left: 10%;
      margin-top: -1%;
      font-size: 2vh;
    }
  }
}

#editor {
  display: flex;
  width: auto;
  height: calc(100vh - 128px);
}

#left {
  display: block;
  flex-shrink: 0;
  width: 250px;
  height: calc(100vh - 128px);
  background: #fafafa;
  border-right: 1px solid #e0e0e0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#window {
  width: 100%;
  height: 100%;
  display: block;
}

#document {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  flex-grow: 0;
}

#film {
  width: 100%;
  height: 100%;
}