//MDL

.mdl-card__media {

  > img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.mdl-card-wide {
  width: 100%;
}

.mdl-card-lg {
  width: 512px;
}

.mdl-card-lg-stretch {
  min-width: 512px;
  width: auto;
}

.mdl-card__title {
  color: rgb(64, 64, 64);
}

.mdl-card__supporting-text {
  margin: 40px;
}

.mdl-card__actions {
  padding-left: 40px;
}

.mdl-mega-footer__social-btn {
  color: rgb(158, 158, 158);
  font-size: 32px;
  background-color: transparent;
}

.section--center {
  max-width: 900px;
  margin-bottom: 48px;
}

.mdl-layout__header--article {
  background-color: $background_color;
  color: rgb(66, 66, 66);

  a {
    color: rgb(66, 66, 66);

    &:hover {
      color: rgb(96, 96, 96);
    }
  }
}