// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo__preview {
  height: 100%;
  width: 100%;
}

.photo__preview--edit {
  height: 100%;
  width: 100%;
  border: 1px solid $primary_color;
}

.photo__upload-progressbar {
  margin: 40px 0;
  padding: 40px;
}

.photo__film {
  display: flex;
  align-items: baseline;

  img {
    margin-right: 5px;
  }
}

.photo__show {
  height: calc(100vh - 128px);
  width: 100%;
}