// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo__preview {
  height: 100%;
  width: 100%;
}

.photo__upload-progressbar {
  margin: 40px 0;
  padding: 40px;
}