.mdl-layout__header-row
  =link_to t('Filmer'), root_path, :class => 'mdl-layout-title logo-brand'
  .mdl-layout-spacer
  %nav.mdl-navigation
.mdl-layout__drawer
  %span.mdl-layout-title= t('Filmer')
  %nav.mdl-navigation