= render('layouts/head')
%body
  .mdl-layout.mdl-js-layout.mdl-layout__header--scroll.mdl-layout--fixed-drawer
    %header.mdl-layout__header.mdl-layout--small-screen
      = render('layouts/header')
    = render('layouts/drawer')
    %main.mdl-layout__content
      .page-content
        =yield